body {
  background-color: grey;
  font-family: helvetica;
  font-weight: lighter;
}
h2,  h4 {
  color: white;
}
h1 {
font-weight: lighter;
padding-left: 6%;
}

form {
  margin: 2% 0 ;
  height: auto;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 75%;
  height: auto;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.form-child {
  display: inline-flex;
  justify-content: center;
}

label {
  display: inline-flex;
  justify-content: flex-end;
  width: 15%;
  font-size: 20px;
  padding-right: 2%;
}

input {
  width: 50%;
  font-size: 20px;
  margin-bottom: 1%;
  background-color: white;
}

.form-buttons {
  display: flex;
  justify-content: center;
  padding: 2%;
}

button {
  width: 20%;
  padding: 1% 2%;
  border-radius: 15px;
  border: none;
}

#new-film-button{
  background-color: dodgerblue;
  color: white;
  margin-right: 1%;
}

#delete-all {
  background-color: #ffae42;
  color: white;
  margin-left: 1%;
}

.film-list-container {
}

ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  background-color: lightgray;
  padding: 2%;
  margin: 2px;
}
